<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>詳細</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "weightapp_cbv/styles.css" %}">
</head>
<body>
    <div class='container'>
        <h1>体調の詳細</h1>
        <hr>
        <div class='healthcare-detail'>
                <div class='healthcare-date'>作成日{{healthcare.created|date:"Y年m月d日 H:i:s"}}</div>
                <div class = 'condition'>体調{{healthcare.get_physical_health_display}}, 精神状態{{healthcare.get_mental_health_display}}</div>
                {% if healthcare.eat_three_meals %}
                    <span class = 'healthcare-status done'>昨日、三食しっかり食事ができた。</span>
                {% else %}
                  <span class = 'healthcare-status not done'>昨日、三食そろえて食事ができた。</span>
                {% endif %}
                <div class = 'number'>運動時間{{healthcare.exercise_time}}(min), 睡眠時間{{healthcare.sleep_time}}(h),体重{{healthcare.weight}}(kg)</div>
                <div class = 'healthcare-memo'>{{healthcare.memo}}</div>
                <div class='healthcare-date'>更新日{{healthcare.updated|date:"Y年m月d日 H:i:s"}}</div>
        </div>
        <div class="healthcare-actions">
            <a href="{% url "healthcare_update" healthcare.id %}"  class="btn btn-waring">更新</a>
            <a href="{% url "healthcare_delete" healthcare.id %}"  class="btn btn-danger">削除</a>
        </div>
        <div class="black-button">
            <a href="{% url "healthcare_list" %}" class="btn btn-secondary">一覧に戻る</a>
        </div>
    </div>
</body>
</html>