<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>About this site</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
</head>
<body>
    <div class = 'header'>
        <ul class = 'navbar'>
            {% if user.is_authenticated %}
            <li class = 'nav-item'>
            <a href="{% url "menu" %}"  class="btn btn-secondary">ホームメニューへ</a>
            </li>
            {% else %}
            <li class = 'nav-item'>
                <a href=" {% url "account_signup" %}">Sign up</a>
            </li>
            <li class = 'nav-item'>
                <a href=" {% url "account_login" %}">Log In</a>
            </li>
            {% endif %}

        </ul>
    </div>
    <div class = 'container'>
        <div class = 'about_site'>
            <h2>このサイトについて</h2>
            <p>就活用のポートフォリオ作成用です。体重記録アプリを作成しようとしています。体重以外にも健康についての記録をつけるようにして、人間らしい生活に貢献できるようにしたいです。</p>

        </div>
        <div class = 'about_me'>
            <h2>自己紹介</h2>
            <h3>プロフィール</h3>
            <p>2028年度　修士卒(予定) 専攻　生物学</p>
            {% comment %} <br> {% endcomment %}
            <p>趣味　料理</p>

        </div>
    </div>
</body>
</html>