<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
    <script src={% static "javascript/app.js" %}></script>
</head>
<body>
    <div class = 'header'>
        <ul class = 'navbar'>
            {% if user.is_authenticated %}
            <li class = 'nav-item'>
            <a href="{% url "menu" %}"  class="btn btn-secondary">ホームメニューへ</a>
            </li>
            {% else %}
            <li class = 'nav-item'>
                <a href=" {% url "account_signup" %}">Sign up</a>
            </li>
            <li class = 'nav-item'>
                <a href=" {% url "account_login" %}">Log In</a>
            </li>
            {% endif %}

        </ul>
    </div>
    <div class="container">
        <div class=menu-container>
        <p>体重の計算app</p>
        <label for="number">身長 (cm)</label>
        <input type="float" name="height" id="height">
        <label for="weight">体重 (kg)</label>
        <input type="number" name="weight" id="weight">
        <button id="btn">計算</button>

        <p id = "result"></p>
        </div>
    </div>
</body>
</html>